{% load static %}
{% load thumbnail %}
<section class="site-section" id="section-about">
    <div class="container">
      <div class="row">
        <div class="col-md-5 site-animate mb-5">
          <h4 class="site-sub-title">О нас</h4>
          <h2 class="site-primary-title display-4">{{ about.title }}</h2>
          <p class="mb-4">{{ about.text|truncatechars:200 }}</p>
          <p><a href="{% url 'about' %}" class="btn btn-secondary btn-lg">Читать даллее...</a></p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 site-animate img" data-animate-effect="fadeInRight">
          {% thumbnail about.image "1000x668" crop="center" upscale=True as im %}
            <img src={{ im.url }} alt="Нет фото" class="img-fluid">
          {% endthumbnail %}
        </div>
      </div>
    </div>
</section>