{% load static %}
<footer class="site-footer site-bg-dark site-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4 site-animate">
              <h2 class="site-heading-2">О нас</h2>
              <p>{{ about.text|truncatechars:200 }}</p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3 site-animate">
              <div class="site-footer-widget mb-4">
                <h2 class="site-heading-2">Навигация</h2>
                <ul class="list-unstyled">
                  <li><a href="#section-about" class="py-2 d-block">О нас</a></li>
                  <li><a href="#section-menu" class="py-2 d-block">Каталог</a></li>
                  <li><a href="#section-news" class="py-2 d-block">Новости</a></li>
                  <li><a href="#section-gallery" class="py-2 d-block">Галлерея</a></li>
                  <li><a href="#section-contact" class="py-2 d-block">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 site-animate">
              <h2 class="site-heading-2">Контакты</h2>
              {% for field, val in contacts %}
                <p>{{ field }}: <br> {{ val }} <br></p>
              {% endfor %}
            </div>
            
          </div>
        </div>
       
      </div>
      <div class="row site-animate">
         <div class="col-md-12 text-center">
          <div class="site-footer-widget mb-4">
            <ul class="site-footer-social list-unstyled ">
              <li class="site-animate"><a href="#"><span class="icon-direction"></span></a></li>
              <li class="site-animate"><a href="#"><span class="icon-vk"></span></a></li>
              <li class="site-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <p>&copy; <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy; 2022 All rights reserved | Made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://t.me/kozarezovdd" target="_blank">Kozarezov</a> </a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        </div>
      </div>
    </div>
  </footer>