<!-- Modal -->
{% load static %}
<div class="modal" id="reservationModal" tabindex="-1" role="dialog" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <div class="bg-image" style="background-image: url({% static "images/reservation_1.jpg" %});"></div>
            </div>
            <div class="col-lg-12 p-5">
              <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                <small>Закрыть </small><span aria-hidden="true">&times;</span>
              </button>
              <h1 class="mb-4">Контакты</h1>  
              <div class="col-md-1"></div>
              <div class="col-md-12 site-animate fadeInUp site-animated">
                {% comment %} <p><img src={% static "images/about_img_1.jpg" %} alt="" class="img-fluid"></p> {% endcomment %}
                <p class="text-black">
                  {% for field, val in contacts %}
                    {{ field }}: <br> {{ val }} <br> <br>
                  {% endfor %}
                </p>

              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
</div>