{% load static %}
{% load thumbnail %}
<section class="site-section" id="section-gallery">
    <div class="container">
      <div class="row site-custom-gutters">

        <div class="col-md-12 text-center mb-5 site-animate">
          <h2 class="display-4">Галерея</h2>
          <div class="row justify-content-center">
            <div class="col-md-7">
              <p class="lead">Наши фото.</p>
            </div>
          </div>
        </div>

        {% for gallery in galleryes %}
          <div class="col-md-4 site-animate">
            {% thumbnail gallery.image "400x400" crop="center" upscale=True as im %}
              <a href="{{ im.url }}" class="site-thumbnail image-popup">
                <img src="{{ im.url }}" alt="Нет фото" class="img-fluid">
              </a>
            {% endthumbnail %}
          </div>
        {% endfor %}

      </div>
    </div>
</section>